:root {
	--primary-color-100: #3C424B;
	--primary-color-10: #3c424b21;
	padding: 0;
	margin: 0;
	font-size: 15px;
	background-color: #F1F7FB;
	color: var(--primary-color-100);
}

body {
	margin: 0;
	padding: 4em;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#root {
	width: 100%;
	background-color: white;
	border-radius: 1em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

.btn {
	padding: 0.5em;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	color: var(--primary-color);
	font-size: 1.2em;
	cursor: pointer;
	border-radius: 0.5em;
}

.btn.filled {
	background-color: var(--primary-color-10);
}

.btn:hover {
	transform: scale(1.1);
}