.main-auth {
	/* Main authentication container */
	width: 100%;
	min-height: calc(100vh - 14em);
	/* Header height 6em + 2 * body padding 4em = 14em */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5em;
	box-sizing: border-box;
}

#login-form,
#signup-form {
	/* Login and signup forms */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 400px;
	height: auto;
	gap: 2em;
	margin: 0 auto;
	border: 1px solid var(--primary-color-10);
	border-radius: 1em;
	padding: 2em;
	box-sizing: border-box;
}

#signup-form {
	/* Signup form wider layout */
	max-width: 800px;
}

#signup-form .inlineGroup-wrapper,
#signup-form .inlineGroup-wrapper div {
	/* Ensure inline groups fill width */
	width: 100%;
}

#login-form .input-wrapper:not(:has(ul)),
#login-form .btn-wrapper,
#signup-form .input-wrapper:not(:has(ul)),
#signup-form .btn-wrapper {
	/* Standard height for input wrappers and buttons */
	height: 3em;
}

.error-item {
	/* Individual error text */
	color: var(--error-color);
}

.general-message {
	/* General feedback message container */
	width: 100%;
	border-radius: 0.5em;
	padding: 1em;
	box-sizing: border-box;
	border-radius: 0.3em;
	margin-bottom: 1em;
	text-align: center;
	font-weight: 500;
}

/* Error message style */
.general-message.error {
	background-color: #ffe5e5;
	color: var(--error-color);
	border: 1px solid var(--error-color);
}

/* Success message style */
.general-message.success {
	background-color: #e5ffe5;
	color: var(--success-color);
	border: 1px solid var(--success-color);
}

#signup-form .picture-wrapper {
	/* Circular profile picture container */
	width: 8em;
	height: 8em;
	border: 1px solid var(--primary-color-10);
	border-radius: 50%;
	overflow: hidden;
}

#signup-form .picture-wrapper label {
	/* Label for file input (image icon / upload) */
	font-size: 3em;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#signup-form .picture-wrapper label img {
	/* Profile picture image */
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

#signup-form input[type="file"] {
	/* Hide default file input */
	display: none;
}