.create {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 1.5em;
	box-sizing: border-box;
	gap: 1.5em;
}

.create form {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;
}

.create form .select-wrapper {
	width: 15%;
}

.create form .input-wrapper {
	flex: 1;
}

.create form .textarea-wrapper {
	height: 100%;
}

.create form .grid-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1em;
}

.create form .grid-wrapper div {
	background-color: var(--primary-color-10);
	color: var(--primary-color-100);
	font-size: 1.2em;
	text-align: center;
	border-radius: 0.3em;
	cursor: pointer;
	height: 5em;
}

.create form .grid-wrapper div:hover {
	transform: scale(1.02);
}

.create form .picture-wrapper i {
	font-size: 1.2em;
}

.create form .picture-wrapper label {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.create form .picture-wrapper label img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.create form .picture-wrapper input[type="file"] {
	display: none;
}
