.create {
	/* Main container for create page */
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 1.5em;
	box-sizing: border-box;
	gap: 1.5em;
}

.create form {
	/* Form layout */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;
}

.create form .select-wrapper {
	/* Select field container */
	width: 15%;
}

.create form .input-wrapper {
	/* Input field container */
	flex: 1;
}

.create form .textarea-wrapper {
	/* Textarea container takes full height */
	height: 100%;
}

.create form .grid-wrapper {
	/* Grid layout for multiple items (e.g., categories or tags) */
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 1em;
}

.create form .grid-wrapper div {
	/* Individual grid items */
	background-color: var(--primary-color-10);
	color: var(--primary-color-100);
	font-size: 1.2em;
	text-align: center;
	border-radius: 0.3em;
	cursor: pointer;
	height: 5em;
}

.create form .grid-wrapper div:hover {
	/* Hover effect for grid items */
	transform: scale(1.02);
}

.create form .picture-wrapper i {
	/* Icon inside picture upload */
	font-size: 1.2em;
}

.create form .picture-wrapper label {
	/* Label for picture upload, acts as clickable area */
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.create form .picture-wrapper label img {
	/* Display uploaded picture */
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.create form .picture-wrapper input[type="file"] {
	/* Hide default file input */
	display: none;
}
