.header {
	width: 100%;
	height: 6em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em;
	box-sizing: border-box;
	border-bottom: 1px solid var(--primary-color-10);
}

.header .actions { 
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	height: 100%;
}

.header .actions .btn:hover {
	transform: scale(1.1);
}