.header {
	/* Main header container */
	width: 100%;
	height: 6em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5em;
	box-sizing: border-box;
	border-bottom: 1px solid var(--primary-color-10);
}

.header .actions {
	/* Container for header action items (e.g., links, icons) */
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5em;
	height: 100%;
}

.header .actions a {
	/* Individual action link styling */
	height: 100%;
}

.header .actions img {
	/* Avatar or icon images inside actions */
	height: 4em;
	width: 4em;
	object-fit: cover;
	border-radius: 50%;
}

/* Hide burger on desktop */
.burger-menu {
	display: none;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
	.header .btn-wrapper .btn {
		font-size: 0.9rem;
	}
}

@media (max-width: 992px) {
	.header .btn-wrapper .btn {
		font-size: 0.8rem;
	}
}

/* Hide default actions on very small screens if needed */
@media (max-width: 768px) {
	.header h1 {
		font-size: 1.5rem;
	}

	.header .actions {
		display: none;
	}

	.burger-menu {
		display: flex;
		cursor: pointer;
		color: var(--primary-color);
	}

	.mobile-menu {
		position: absolute;
		top: 6em;
		/* just below header */
		right: 0;
		background-color:white;
		width: 150px;
		display: flex;
		flex-direction: column;
		gap: 1em;
		padding: 1em;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
		z-index: 1000;
		border-radius: 15px 0 0 15px;
	}
}

