.home {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 1.5em;
	box-sizing: border-box;
	gap: 1.5em;
}

.home-header {
	display: flex;
	flex-direction: row;
	height: 3em;
	width: 100%;
	gap: 1em;
	align-items: center;
}

.home-header  .input-wrapper {
	flex: 1;
}

.home-content {
	width: 100%;
	box-sizing: border-box;
	text-align: left;
}
