.home {
	/* Main container for the home page */
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 1.5em;
	box-sizing: border-box;
	gap: 1.5em;
}

.home .home-header {
	/* Hide header by default */
	display: none;
}

.home:not(:has(.card-detail)) .home-header {
	/* Display header only when no card detail is shown */
	display: flex;
	flex-direction: row;
	height: 3em;
	width: 100%;
	gap: 1em;
	align-items: center;
}

.home-header .input-wrapper {
	/* Input container inside the header */
	flex: 1;
}

.home-header .btn-wrapper button.active { 
	background-color: #186d86;
	color: white;
}

.home-content {
	/* Main content area inside home */
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	text-align: left;
}
