.main {
	width: 100%;
	/* Minimum height accounts for viewport height minus header and body padding */
	min-height: calc(100vh - 14em); /* Header 6em + 2 * body padding 4em = 14em total */
	display: flex;
	padding: 1.5em;
	box-sizing: border-box;
}
