.main-menu {
	width: 15%;
}

.main-menu ul {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.main-menu li {
	height: 3em;
}

.main-menu .btn-wrapper {
	width: 100%;
}

.main-menu .btn-wrapper .btn {
	text-align: left;
}

.main-menu button.active {
	background-color: var(--primary-color-10);
	font-weight: bold;
}