.main-menu {
	width: 15%;
}

.main-menu ul {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.main-menu li {
	height: 2.5em;
}

.main-menu button {
	font-size: 1.2em;
	width: 100%;
	height: 100%;
	text-align: left;
}

.main-menu button:hover {
	background-color: var(--primary-color-10);
	font-weight: bold;
}

.main-menu button.active {
	background-color: var(--primary-color-10);
	font-weight: bold;
}