.myPassions-body {
	height: 100%;
	width: 100%;
	padding-left: 1.5em;
	box-sizing: border-box;
}

.myPassions-body .passions-view {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	gap: 1em;
}